calculatorservice/src/main/app/calculatorservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration"/>
    <flow name="CalculatorFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/calc" allowedMethods="POST" doc:name="HTTP"/>
        <message-properties-transformer scope="invocation" doc:name="Input_Value">
            <add-message-property key="input1" value="#[xpath3('Calc/input1')]"/>
            <add-message-property key="input2" value="#[xpath3('Calc/input2')]"/>
            <add-message-property key="operation" value="#[xpath3('Calc/Operation')]"/>
        </message-properties-transformer>
        <choice doc:name="operation">
            <when expression="#[flowVars.operation=='Addition']">
                <set-payload value="#[Integer.parseInt(flowVars.input1) + Integer.parseInt(flowVars.input2)]" doc:name="Addition"/>
            </when>
            <when expression="#[flowVars.operation=='Subtraction']">
                <set-payload value="#[Integer.parseInt(flowVars.input1) - Integer.parseInt(flowVars.input2)]" doc:name="Subtraction"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </when>
            <when expression="#[flowVars.operation=='Multiplication']">
                <set-payload value="#[Integer.parseInt(flowVars.input1) *  Integer.parseInt(flowVars.input2)]" doc:name="Multiplication"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <set-payload value="#[Integer.parseInt(flowVars.input1) / Integer.parseInt(flowVars.input2)]" doc:name="Division"/>
            </otherwise>
        </choice>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
    </flow>
</mule>
